# LLM API KEY
OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=

# Push Notifications
PUSHOVER_USER= 
PUSHOVER_TOKEN=

# Hugging Face API KEY
HF_TOKEN=

# LangSmith Monitoring of LangGraph
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

# Google Search Wrapper
SERPER_API_KEY=